<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIGA</title>
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
    <div class="cont">
        <div class="menu-content">
            <div class="logo-button">
                <img src="~/img/logo.png" id="logo" />
                <button onclick="location.href='@Url.Action("Login", "Users")'">Cerrar sesión</button>
            </div>


            <nav class="main-nav">
                <ul class="menu"> 
                    <li class="menu-link">
                        <a asp-controller="Home" asp-action="Index">
                            <span class="material-symbols-outlined">
                                home_work
                            </span>Inicio
                        </a>
                    </li>

                    <li class="menu-link" id="opcionUsuarios">
                        <a>
                            <span class="material-symbols-outlined">
                                badge
                            </span>Usuarios<span class="material-symbols-outlined">
                                arrow_drop_down
                            </span>
                        </a>
                        <ul class="submenu" id="submenuUsuarios">
                            <li><a>Colaborador</a></li>
                            <li><a>Alumno</a></li>
                        </ul>
                    </li>
                    <li class="menu-link" id="opcionAdministracion">
                        <a >
                            <span class="material-symbols-outlined">
                                school
                            </span>Administración<span class="material-symbols-outlined">
                                arrow_drop_down
                            </span>
                        </a>
                        <ul class="submenu" id="submenuAdministracion">
                            <li><a asp-controller="Grupos" asp-action="Index">Grupos</a></li>
                            <li><a asp-controller="Materias" asp-action="Index">Materias</a></li>
                            <li><a>Talleres</a></li>
                            <li>
                                <a>
                                    Asignación de grupo
                                </a>
                                <ul class="subsubmenu">
                                    <li><a>Alumno</a></li>
                                    <li><a>Docente</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    Asignación de materias
                                </a>
                                <ul class="subsubmenu">
                                    <li><a>Alumno</a></li>
                                    <li><a>Docente</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    Asignación de talleres
                                </a>
                                <ul class="subsubmenu">
                                    <li><a>Alumno</a></li>
                                    <li><a>Docente</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-link" id="opcionFinanciero">
                        <a>
                            <span class="material-symbols-outlined">
                                calculate
                            </span>Control Financiero<span class="material-symbols-outlined">
                                arrow_drop_down
                            </span>
                        </a>
                        <ul class="submenu" id="submenuFinanciero">
                            <li><a>Becas</a></li>
                            <li><a>Cobros extra</a></li>
                            <li><a asp-controller="EducationLevel" asp-action="Index">Inscripciones y colegiaturas</a></li>
                            <li><a>Talleres</a></li>
                            <li><a>Descuentos adicionales</a></li>
                            <li><a>Horarios extendidos</a></li>
                            <li><a>Recargos</a></li>
                            <li><a>Administrar becas</a></li>
                        </ul>
                    </li>
                    <li class="menu-link" id="opcionPagos">
                        <a>
                            <span class="material-symbols-outlined">
                                payments
                            </span>Pagos<span class="material-symbols-outlined">
                                arrow_drop_down
                            </span>
                        </a>
                        <ul class="submenu" id="submenuPagos">
                            <li><a>Registrar pago</a></li>
                            <li><a>Administrar pagos</a></li>
                        </ul>
                    </li>
                    <li class="menu-link" id="opcionAlumnos">
                        <a>
                            <span class="material-symbols-outlined">
                                school
                            </span>Alumnos<span class="material-symbols-outlined">
                                arrow_drop_down
                            </span>
                        </a>
                        <ul class="submenu" id="submenuAlumnos">
                            <li><a>Registrar reporte</a></li>
                            <li><a>Administrar reportes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="containerMain">
            <div class="schoolName">
                <h3>Centro de Desarrollo Integral Gardner</h3>
            </div>
            <div class="dashboard">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/js/Menu.js" asp-append-version="true"></script>