body {
}

.welcome {
    background-color: #bed0dc;
    width: 55%;
    height: 355px;
    font-family: 'Palatino Linotype';
    font-size: 23px;
    color: #47525E;
    border-radius: 1em;
    align-self: center;
}

.welcome h4{
    text-align: end;
    margin-right: 40px;
    margin-top: 100px;

}

.welcome h3{
    text-align: center;
}

.userName {
    text-align: start !important;
    margin-left: 40px;
    margin-top: -59px !important;
}
