:root {
    --Primary-color: #71B1D3;
    --Second-color: #9AC7E7;
}

body {
    /*background-color: #d8e9f6;*/
    background-color: #e6e6e6;
}
.menu-content {
    display: flex;
    width: 20%;
    background-color: #71B1D3;
    flex-direction: column;
    border-radius: 1em;
    padding-block-end: 10%;
    font-weight: 600;
}

.logo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo {
    width: 30%;
    border-radius: 10%;
    margin-top: 30px;
}

.logo-button button {
    margin-top: 30px;
    width: 50%;
    height: 2em;
    border-radius: 1px;
    background-color: var(--Primary-color);
    border-color: #47525E;
    cursor: pointer;
    border: none;
    outline: 2px solid #707176;
    outline-offset: 3px;
    font-size: 16px;
    font-weight: 900;
    color: #47525E;
    transition: all 0.5s;
    font-family: 'Palatino Linotype';
}

.logo-button button:hover{
    background-color: #599fd1;
    color: white;
    transition: all 0.5s;
}

.cont {
    display: flex;
}

.schoolName {
    background-color: var(--Primary-color);
    height: 45px;
    border-radius: 1em;
    border: none;
    outline: 3px solid #4290c8;
    width: 95%;
    font-family: 'Palatino Linotype';
    align-items: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.containerMain {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.schoolName h3{
    margin-top: 4px;
    text-align: center;
    color: #47525E;
    font-size: 23px;
}

.main-nav {
    margin-left: inherit;
    margin-top: 30px;
    cursor: pointer;
    height: 100%;
}

.menu, .submenu, .subsubmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
    font-family: 'Palatino Linotype';
}

.menu-link, .submenu li {
    padding: 16px ;
    text-decoration: none;
}

.menu-link {
    font-size: 1.2em;
    display: block;
}

.submenu li{
    font-size: 1em;
}
.submenu, .subsubmenu {
    background-color: #d8e9f6;
    border-radius: 1em;
    border: none;
    margin-left: 30px;
    display: none;
}

.submenu li:hover {
    background: #B6CEDF; 
    border-radius: 1em;
}

.subsubmenu li{ 
    padding: 15px;
    font-size: 1em;
    text-decoration: none;
    padding-left: 50px;
}

.menu-link:checked + .submenu, .subsubmenu{
    display: block;
}


/*ul li:hover> ul {
    display:block;
}*/
.main-nav span {
    margin-right: 15px;
}

.submenu li span{
    margin-left: 2px !important;
}

.main-nav span:hover{
    color: #707176;
}

.menu-link li:hover {
    color: #707176;
    font-weight: 600;
}

.menu-link a:hover {
    color: #707176;
    font-weight: 600;
}

.menu a{
    text-decoration: none;
    color: black;
}

