body {
}

.table-container {
    background-color: white;
    align-self: center;
    width: 70%;
    height: 100%;
    font-family: 'Palatino Linotype';
    color: #47525E;
    border-radius: 1em;
    box-shadow: 0px 0px 5px #333;
    padding-left: 30px;
}

table{
    table-layout: fixed;
    width: 100%;
}

th, td{
    padding: 10px;
}

th{
    text-align: initial;
    font-size: 18px;
    padding-top: 30px;
}

.table-container h1 {
    font-size: 30px;
    text-align: initial;
}
