@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Custom.css" />

<form asp-action="Login" class="formLogin">
    <div>
        <h2>Bienvenido</h2>
        <h3>Iniciar sesión</h3>
        <img src="~/img/logo.png" alt="logo" id="logo" />

        <div class="containerForm">
            <div>
                <input asp-for="Email" placeholder="Usuario" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <input asp-for="Password" placeholder="Contraseña" />
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit">Iniciar sesión</button>

            <div>
                <a href="#">Olvidé mi contraseña</a>
            </div>
        </div>
    </div>
</form>
    
