@model Materias
@{
    ViewData["Title"] = "Editar materia";
}

<link rel="stylesheet" href="~/css/Forms.css" />
<link rel="stylesheet" href="~/css/Alerts.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<div class="form-cont">
    <h1>EDITAR MATERIA @Model.Nombre</h1>
    <div asp-validation-summary="All" class="textError"></div>
    <form asp-action="Editar" class="form">
        
        <input type="hidden" asp-for="Id" />
        <div class="field">
            <label asp-for="Nombre"></label>
            <input type="text" asp-for="Nombre" />
        </div>

        <button class="btn secondary" asp-action="Index">
            Cancelar
        </button>
        <button type="submit" class="btn success" onclick="location.href='@Url.Action("Index", "Materias")'">Guardar</button>

    </form>
    <script src="~/js/VistaMaterias/ValidationMateria.js" asp-append-version="true"></script>
</div>
