
@model Grupos
@{
    ViewData["Title"] = "Borrar grupo";
}
<link rel="stylesheet" href="~/css/Forms.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />

<div class="form-cont">
    <h3>¿Está seguro que desea eliminar el grupo @Model.Nombre?</h3>

    <form asp-action="BorrarGrupo">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn danger" id="Borrar">Borrar</button>
        <button class="btn secondary"><a asp-action="Index">Cancelar</a></button>
    </form>
</div>
