@model EducationLevel

@{
    ViewData["Title"] = "Crear Nivel educativo";
}
<div class="form-cont">
    <h1>CREAR NIVEL EDUCATIVO</h1>
    <div asp-validation-summary="All" class="textError"></div>

    <form asp-action="Create" class="form">
        <div class="field">
            <label asp-for="Nombre"></label>
            <input type="text" asp-for="Nombre" />
        </div>

        <div class="field">
            <label asp-for="CostoInscripcion"></label>
            <input type="text" asp-for="CostoInscripcion" />
        </div>

        <div class="field">
            <label asp-for="CostoColegiatura"></label>
            <input type="text" asp-for="CostoColegiatura" />
        </div>

        <button class="btn secondary" asp-action="Index">           
               Cancelar           
        </button>

        <button type="submit" class="btn success" onclick="location.href='@Url.Action("Index", "EducationLevel")'">
            Guardar
        </button>

    </form>
    <script src="~/js/ValidationEducationLevel.js" asp-append-version="true"></script>
</div>

