@model EducationLevel
@{
    ViewData["Title"] = "Editar nivel educativo";
}

<link rel="stylesheet" href="~/css/Forms.css" />
<link rel="stylesheet" href="~/css/Alerts.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<div class="form-cont">
    <h1>EDITAR NIVEL EDUCATIVO @Model.Nombre</h1>

    <form asp-action="EditarNivelEducativo" class="form">
        <div asp-validation-summary="All" class="errorAlert"></div>
        <input type="hidden" asp-for="Id" />

        <div class="field">
            <label asp-for="Nombre"></label>
            <input type="text" asp-for="Nombre" />
        </div>

        <div class="field">
            <label asp-for="CostoInscripcion"></label>
            <input type="text" asp-for="CostoInscripcion" />
        </div>

        <div class="field">
            <label asp-for="CostoColegiatura"></label>
            <input type="text" asp-for="CostoColegiatura" />
        </div>

        <button class="btn secondary"><a asp-action="Index">Cancelar</a></button>
        <button type="submit" class="btn success" onclick="location.href='@Url.Action("Index", "EducationLevel")'">Guardar</button>

    </form>
    <script src="~/js/ValidationEducationLevel.js" asp-append-version="true"></script>
</div>
