@model IEnumerable<EducationLevel>

@{
    ViewData["Title"] = "Niveles educativos";
}
<link rel="stylesheet" href="~/css/Forms.css" />
<link rel="stylesheet" href="~/css/Alerts.css" />
<link rel="stylesheet" href="~/css/Tables.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />

<div class="table-container">
    <h1>Niveles educativos</h1>
    <button class="btn primary"><a asp-action="Create">Crear nuevo</a></button>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Costo inscripción</th>
                <th>Costo colegiatura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var educationLevel in Model)
            {
                <tr>
                    <td>
                        @educationLevel.Nombre
                    </td>
                    <td>
                        $@educationLevel.CostoInscripcion
                    </td>
                    <td>
                        $@educationLevel.CostoColegiatura
                    </td>
                    <td>
                        <button class="btn primary"><a asp-action="Editar" asp-route-id="@educationLevel.Id">Editar</a></button>
                        <button class="btn danger" style="margin-left: 10px;"><a asp-action="Borrar" asp-route-id="@educationLevel.Id">Borrar</a></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

